<script src="https://kit.fontawesome.com/c45719822e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #64a2e9;">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="/">Facultech <i class="fas fa-code"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cursos"> <i class="fas fa-graduation-cap"></i> Cursos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/usuarios/sobre" tabindex="-1" aria-disabled="true"><i class="far fa-list-alt"></i>
            Sobre</a>
        </li>
        {{#if user}}
        {{!-- Lado esquerdo da NavBar --}}
        {{#if aluno}}
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navbarDropdownAcademic" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-book-reader"></i> Acadêmico</a>
          {{!--Parte do Nome em teste --}}
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownAcademic">
            <a class="dropdown-item" href="#">Nota das Provas</a>
            <a class="dropdown-item" href="#">Consultar frequência</a>
            <a class="dropdown-item" href="#">Atendimento</a>
            {{else}}
            {{/if}}
            {{else}}
            {{/if}}
      </ul>

      {{!-- Fim do Lado esquerdo da NavBar --}}

      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navbarDropdownUser" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-user"></i> Olá, {{user.nome}}</i></a>
          {{!--Parte do Nome em teste --}}
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownUser">
            <a class="dropdown-item" href="#">Minha Conta</a>
            <a class="dropdown-item" href="/usuarios/logout">Sair</a>
            {{#if adm}}
        <li class="nav-item">
          <a class="nav-link" href="/admin" tabindex="-1" aria-disabled="true"> Painel<i
              class="fas fa-user-cog"></i></a>
        </li>
        {{else}}
        {{/if}}

        {{#if prof}}

        <li class="nav-item">
          <a class="nav-link" href="/professor" tabindex="-1" aria-disabled="true"> Painel <i
              class="fas fa-chalkboard-teacher"></i></a>
        </li>
        {{else}}
        {{/if}}

        {{else}}
        <li class="nav-item active">
          <a class="nav-link" href="/usuarios/login" tabindex="-1" aria-disabled="true"><i class="fas fa-user"></i>
            Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/usuarios/registro" tabindex="-1" aria-disabled="true"><i
              class="fas fa-user-plus"></i> Registro</a>
        </li>
        {{/if}}
    </div>
    </li>
    </ul>
  </div>
  </div>
</nav>