<div class="jumbotron">
  <h1 class="display-4">Bem-vindo a Facultech <i class="fas fa-code"></i></h1>
  <p class="lead"> Instituição de Tecnologia, desenvolvido com Node.js + Express + MongoDB</p>
  <hr class="my-4">
  {{!-- <img class="card-img-top class=" src="https://i.imgur.com/EreWqyS.gif"> --}}
  <p>Aqui você pode aprender sobre o mundo da computação</p>
  <a class="btn btn-outline-primary" href="/usuarios/registro" role="button">Crie uma Conta</a>
</div>

<hr>
{{#if user}}
<h2 class="display-5">Mural de Postagem <small><i class="fas fa-mail-bulk"></small></i> </h2>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3><i class="far fa-bell"></i> <strong>{{titulo}}</strong></i></h3>
    <p>{{conteudo}}</p>
    <small>Materia: {{materia._id}}</small>
    <br>
    <small>Data de publicação: {{date}}</small>
  </div>
</div>

{{else}}
<h5>Nenhum conteudo</h5>
{{/each}}

{{else}}
<h2>Conteudos Adicionados Recentemente: </h2>

{{#each materias}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/materia/{{slug}}"><button type="button" class="btn btn-outline-dark">Leia Mais</button></a>
    <hr>
    <small>Curso: {{curso._id}}</small>
    <br>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>

{{else}}
<h5>Nenhum conteudo</h5>
{{/each}}
</div>
{{/if}}

{{!-- EM TESTE --- DARK MODE ----  --}}

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.0/lib/darkmode-js.min.js"></script>
<script src="./script.js"></script>
<script>
  new Darkmode().showWidget();
</script>

<style>

</style>