{{#each erros}}
<div class="alert alert-danger">
</div>
{{else}}
{{/each}}
<div class="col-12 text-center my-5">
  <h1 class="display-4"> Notas de Provas <small><i class="fas fa-scroll"></i></small> </h1>
</div>

<table class="table  table-hover table-bordered mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">
        <center>
          <h4>Disciplina</h4>
        </center>
      </th>
      <th scope="col">
        <center>
          <h4>Semestre</h4>
        </center>
      </th>
      <th scope="col">
        <center>
          <h4>Nota Final</h4>
        </center>
      </th>

    </tr>
  </thead>
  <tbody>
    {{#each notafinal}}
    <tr>
      <th scope="row">
        <center>
          <h4>{{this.materia}}</h4>
        </center>
      </th>
      <td>
        <center>
          <h4>{{this.semestre}}</h4>
        </center>
      </td>
      <td>
        <center>
          <h4 class="{{@index}}" id="p1">{{this.nota}}</h4>
        </center>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>


{{!-- <script>
  if (("p1") == 0) {
    document.getElementById("p1").style.color = "gray";
  } else if (p1 =< 6) {
    document.getElementById("p1").style.color = "blue";
  } else {
    document.getElementById("p1").style.color = "red";
  }
</script> --}}