<h1>{{curso.nome}}</h1>
{{#each materias}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/materia/{{slug}}"><button type="button" class="btn btn-outline-dark">Leia Mais</button></a>
    <hr>
    <br>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>
{{else}}
<h5>Nenhuma materia</h5>
{{/each}}